BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
ColumnLimit: 88
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortBlocksOnASingleLine: Never
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
AllowShortLambdasOnASingleLine: Inline
AllowShortEnumsOnASingleLine: false
AllowShortNamespacesOnASingleLine: false
BraceWrapping:
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
SpaceBeforeParens: ControlStatements
BinPackArguments: false
BinPackParameters: false
PackConstructorInitializers: NextLine
SortIncludes: Never
SeparateDefinitionBlocks: Always
