BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
ColumnLimit: 88
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: Never
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortLambdasOnASingleLine: None
AllowShortEnumsOnASingleLine: false
AllowShortNamespacesOnASingleLine: false
BraceWrapping:
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
SpaceBeforeParens: ControlStatements
SpacesInParens: Custom
SpacesInParensOptions:
  InConditionalStatements: true
  InCStyleCasts: false
  InEmptyParentheses: false
  Other: false
BinPackArguments: false
BinPackParameters: false
PackConstructorInitializers: NextLine
SortIncludes: Never
SeparateDefinitionBlocks: Always
